<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="chris.myapplication" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".GameSelectionActivity" >
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CreateGameActivity"
            android:label="@string/title_activity_create_game" >
        </activity>
        <activity android:name=".DrawFragmentActivity" >
        </activity>
        <activity
            android:name=".GameInfoActivity"
            android:label="@string/title_activity_game_info" >
        </activity>
        <activity
            android:name=".ScoreGameFragmentActivity"
            android:label="@string/title_activity_score_game_fragment">
        </activity>
        <activity
            android:name=".GameSelectionEndActivity"
            android:label="@string/title_activity_score_game_end">
        </activity>
    </application>

</manifest>
